* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 2rem;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 2rem;
}
